@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PlayerStat
<body style="background-color: azure">
<div style="display:inline-block">
    <img src="@Model.Avatar" width="400" />
    <div style="text-align:center">
        <h6>@Model.EpicUserHandle</h6>
    </div>

   
</div>


<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            @for (int x = 0; x < Model.LifeTimeStats.Count; x++)
            {

                <td style="font-size:large; outline:1px solid black; padding:10px; text-align:center">
                    @Model.LifeTimeStats[x].Key
                </td>

            }
        </tr>
    </thead>
    <tbody>
    <tr>
        @for (int x = 0; x < Model.LifeTimeStats.Count; x++)
        {
            <td style="font-size:small; outline:1px solid black; padding:10px; text-align:center">
                @Model.LifeTimeStats[x].Value
            </td>
        }
    </tr>
        </tbody>
</table>

    <br />
    <table caption ="Recent matches" class="table table-bordered">
        <thead class="table-dark">
            <tr>
            <td style="font-size:large; outline:1px solid black; padding:10px; text-align:center">
                Id
            </td>
            <td style="font-size:large; outline:1px solid black; padding:10px; text-align:center">
                Kills
            </td>
            <td style="font-size:large; outline:1px solid black; padding:10px; text-align:center">
                Minutes Played
            </td>
            <td style="font-size:large; outline:1px solid black; padding:10px; text-align:center">
                Date Played
            </td>
        </tr>
        </thead>
        <tbody>
        @foreach(var match in Model.RecentMatches)
        {
    <tr>
        <td style="font-size:small; outline:1px solid black; padding:10px; text-align:center">
            @match.Id
        </td>
        <td style="font-size:small; outline:1px solid black; padding:10px; text-align:center">
            @match.Kills
        </td>
        <td style="font-size:small; outline:1px solid black; padding:10px; text-align:center">
            @match.MinutesPlayed
        </td>
        <td style="font-size:small; outline:1px solid black; padding:10px; text-align:center">
            @match.DateCollected
        </td>
    </tr>
        }
            </tbody>
    </table>
</body>
